body{
    font-family: Arial;
    text-align: center;
    background-color: rgb(243,242,248);
}

h1{
    margin: 20px;
    font-size: 54px;
    color: rgb(99,101,109);
}

.editor_canvas{
    border: 4px solid rgb(140,204,188);
    border-radius: 10px;
    background-color: rgb(42,52,51);
}

.editor_canvas:hover{
    cursor: default;
}

#sender, #reciever{
    height: 140px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 1px black;
    display: inline-block;
}

/*keyboard*/

.button{
    display: inline-block;
    padding: 10px 2px;
    margin: 4px;
    width:56px;
    height:40px;
    font-size:35px;
    text-align:center;
    border: solid 1px black;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
}
.pressed{
    background-color: rgb(255,160,0);
}
.buttons{
    display:inline-block;
}

.link{
    padding: 10px 0;
    width: 600px;
    margin: auto;
}

.click_button{
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 10px;
}

.loaded_song{
    padding: 2px 10px;
    background-color: rgb(250,250,250);
    font-size: 30px;
    margin: 8px 0;
    cursor: pointer;
}