/* General */
body{
    font-family: Arial;
    text-align: center;
    background-color: rgb(243,242,248);
}

h1{
    margin: 20px;
    font-size: 54px;
    color: rgb(99,101,109);
}


/* Expandable Elements */
.editor_canvas{
    border: 4px solid rgb(140,204,188);
    border-radius: 10px;
    background-color: rgb(42,52,51);
}

.editor_canvas:hover{
    cursor: default;
}

#sender, #reciever{
    height: 140px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 1px black;
    display: inline-block;
}

/*keyboard*/

.button{
    display: inline-block;
    padding: 10px 2px;
    margin: 4px;
    width:56px;
    height:40px;
    font-size:35px;
    text-align:center;
    border: solid 1px black;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
}

.pressed{
	transition: background-color .1s ease-out;
    background-color: rgb(255,160,0);
}

.buttons{
    display:inline-block;
    min-width: 840px;
}

.link{
    padding: 10px 0;
    width: 600px;
    margin: auto;
}

.click_button{
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 10px;
}

.click_button{
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 10px;
    background-color: white;
}

.loaded_song{
    padding: 2px 10px;
    background-color: rgb(250,250,250);
    font-size: 30px;
    margin: 8px 0;
    cursor: pointer;
}

.sound_pack_button{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    border: solid 1px black;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    margin: 0 4px;
}

.sound_pack_button_2{
    display: block;
    margin: 4px auto;
}

/* tabs */

#info p, #songs_container{
    max-width: 800px;
    margin: 20px auto 10px;
}

#editor_container_div{
    margin-top: 16px;
}

.song_selection{
    font-size: 20px;
    display: inline-block;
    padding: 4px 10px;
    margin: 10px 6px;
    border: 1px solid lightgray;
    border-radius: 2px;
    transition: all ease 200ms;
    cursor: pointer;
}

.song_selection:hover{
    border-color: gray;
}

.toggle_container, .click_button{
    display: none;
}

/* Footer */
.credits{
	width: 100%;
	margin: 20px 0;
}

.author {
    display: inline-block;
    margin: 0px 20px 20px;
}

.author a{
	color: #2098d1;
	text-decoration: none;
}

.author a:hover{
    text-decoration: underline;
}