body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(233,232,228);
}

h1{
    margin: 20px;
    font-size: 54px;
    color: rgb(99,121,109);
}

.editor_canvas{
    border: 4px solid rgb(140,204,188);
    border-radius: 10px;
    background-color: rgb(42,52,51);
}

.editor_canvas:hover{
    cursor: default;
}

#sender, #reciever{
    height: 140px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 1px black;
    display: inline-block;
}